@{
    ViewData["Title"] = "Calculadora";
}

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calculadora" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Consulta" asp-action="Consulta">consulta</a>
                        </li>
                        
    
                    </ul>
<div class="text-center">
    <h1 class="display-8">Mostrar datos de consulta</h1>
    
</div>
